<% provide(:title, "Reset Password") %>

<div class="row justify-content-center">
  <div class="col-sm-4 col-md-7">
    <div class="card">
      <div class="container">
        <h2 class="card-title text-center">
          <i class="fas fa-user-clock text-primary pr-2"></i>Reset Password
        </h2>
        <div class="card-body">
          <%= form_with model: @user, url: password_reset_path(params[:id]), local: true do |form| %>
            <%= render partial: 'common/error_messages', locals: { object: @user } %>

            <%= hidden_field_tag :email, @user.email %>

            <div class="form-group">
              <%= form.label :password, class: "bmd-label-floating" %>
              <%= form.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= form.label :password_confirmation, class: "bmd-label-floating" %>
              <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>

            <div class="row justify-content-between">
              <%= link_to root_path, class: "btn btn-link" do %>
                <i class="fas fa-ban pr-2"></i>Cancel
              <% end %>
              <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fas fa-save pr-2"></i>Save
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
