<% provide(:title, "Forgot Password") %>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-7">
    <div class="card">
      <div class="container">
        <h2 class="card-title text-center">
          <i class="fas fa-user-lock text-primary pr-2"></i>Forgot Password
        </h2>
        <div class="card-body">
          <%= form_with scope: :password_reset, url: password_resets_path, local: true do |form| %>
            <div class="form-group">
              <%= form.label :email, class: "bmd-label-floating" %>
              <%= form.text_field :email, class: "form-control" %>
              <!-- TODO: implement error message -->
            </div>

            <div class="row justify-content-between">
              <%= link_to "Cancel", root_path, class: "btn btn-light" %>
              <%= button_tag type: "submit", class: "btn btn-primary" do %>
                <i class="fas fa-paper-plane pr-2"></i>Submit
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
