<div class="row justify-content-center">
  <div class="col-12">
    <div class="card pb-2">
      <h3 id="outingHeader" class="card-title text-center pt-2 no-print">
        <%= @outing.name %>
      </h3>

      <div class="card-body outing-details-card">
        <div class="tab-content">
          <%= render partial: 'outings/tabs/golfers_tab' %>
          <%= render partial: 'outings/tabs/outing_days_tab' %>
          <%= render partial: 'outings/tabs/overall_tab' %>
          <%= render partial: 'outings/tabs/docs_tab' %>
        </div>
      </div>

      <%= render partial: "outings/tab_nav", locals: {outing: @outing } %>
    </div>
  </div>
</div>
