<% if logged_in? %>
  <% @outings.each do |outing| %>
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-7">
        <div class="card">
          <img class="<%= outing.course.name.include?('Peninsula') ? 'peninsula-image-background' : 'generic-image-background' %>" height="300" width="100%">
          <div class="card-body">
            <h5 class="card-title">
              <%= outing.name %>
            </h5>

            <div class="card-subtitle mb-2 text-muted">
              <div>
                <%= outing.course.name %>
              </div>
              <small>
                <%= outing.course.address %>
                <a href="https://maps.google.com/?q=<%= outing.course.address %>" target="_blank">
                  <i class="fas fa-map-marker"></i>
                </a>
              </small>
            </div>

            <div class="card-text">
              <div>
                <%= outing.start_date.strftime("%a") %> (<%= outing.start_date.strftime("%m/%d/%y") %>)
                through
                <%= outing.end_date.strftime("%a") %> (<%= outing.end_date.strftime("%m/%d/%y") %>)
              </div>
              <div>
                <%= outing.outing_golfers.size %> Golfers
              </div>
            </div>

            <div class="text-right">
              <%= link_to outing_path(outing.id), class: "btn btn-primary" do %>
                View Outing <i class="fas fa-angle-double-right"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render partial: 'common/login' %>
<% end %>
