<nav class="navbar navbar-dark navbar-expand-lg elegant-color-dark no-print">
  <% if !under_maintenance? && logged_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>

  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag("golfer.png", size: "30") %>Golf Hacker Club
  </a>

  <% if !under_maintenance? && logged_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <%= link_to root_path, class: "nav-item nav-link" do %>
          <i class="fas fa-golf-ball pr-2"></i>Outings
        <% end %>
        <%= link_to user_path(current_user), class: "nav-item nav-link" do %>
          <i class="fas fa-user-circle pr-2"></i>Profile
        <% end %>
        <% if current_user.is_admin? %>
          <%= link_to admin_root_path, class: "nav-item nav-link", target: "_blank" do %>
            <i class="fas fa-lock pr-2"></i>Admin
          <% end %>
        <% end %>
        <%= link_to logout_path, class: "nav-item nav-link text-danger", method: :delete do %>
          <i class="fas fa-sign-out-alt pr-2"></i>Logout
        <% end %>
      </div>
    </div>
  <% end %>
</nav>
