<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag("golfer.png", size: "30") %>Golf Hacker Club
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
      <% if logged_in? %>
        <%= link_to "Outings", root_path, class: "nav-item nav-link" %>
        <%= link_to "My Account", user_path(current_user), class: "nav-item nav-link" %>
        <%= link_to "Admin", admin_root_path, class: "nav-item nav-link", target: "_blank" if current_user.is_admin? %>
        <%= link_to "Logout", logout_path, class: "nav-item nav-link text-danger", method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
