<div class="mdl-grid center-items">
  <div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <div class="mdl-card__title-text">Login</div>
    </div>
    <%= form_with scope: :session, url: login_path, local: true do |form| %>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.text_field :email, class: "mdl-textfield__input" %>
          <%= form.label :email, class: "mdl-textfield__label" %>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= form.text_field :password, class: "mdl-textfield__input", type: "password" %>
          <%= form.label :password, class: "mdl-textfield__label" %>
        </div>
      </div>
      <div class="mdl-grid mdl-card__actions mdl-card--border">
        <%= link_to "New user?", new_user_path, class: "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" %>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-typography--text-right">
          <%= form.submit "Login", class: "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
