<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.blockUI.min' %>
  <%= javascript_include_tag 'popper.min' %>

  <!-- Flash messages -->
  <%= stylesheet_link_tag 'toastr.min' %>
  <%= javascript_include_tag 'toastr.min' %>
  <%= javascript_include_tag 'notifier' %>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans' %>

  <!-- Font Awesome -->
  <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.6.3/css/all.css' %>

  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132707867-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132707867-1');
    </script>
  <% end %>
</head>

<body>

<%= render partial: 'layouts/partials/navbar' %>

<div class="container mx-auto" style="min-height:100vh;">
  <% if under_maintenance? %>
    <%= render partial: 'layouts/partials/maintenance' %>
  <% else %>
    <%= render partial: 'layouts/partials/flash_messages', flash: flash %>
    <%= yield %>
  <% end %>
</div>

<%= render partial: 'layouts/partials/footer' %>

</body>
</html>
